.*,
*~
*.swp
*.autosave
.qped
.directory
build.release
build.debug
build.qtc
win32build
win32install
build.xcode
applebuild
/*.config
/*.creator
/*.files
/*.includes
*.user
*.qm
share/manual/en
share/manual/de
Doc
DocLib
build.qt5
*.sfd~
/.project
mscore/revision.h
.DS_Store
CMakeLists.txt.user.*
*.qmlc
vtest/html
thirdparty/mupdf-qt
vtest/LOG
vtest/META-INF
vtest/Thumbnails
vtest/Pictures
.vs
dependencies
/msvc.build.debug 
/msvc.install 

# Downloaded files during build process
MS_General.sf3
MS_General-License.md
MS_General-changelog.txt
MuseScore_General.sf3
MuseScore_General-License.md
MuseScore_General-changelog.txt
VERSION
/mscore/data/mscore.aps
/msvc.build.release
/msvc.build.relwithdebinfo
