<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.musescore.MuseScoreThumbnailProvider</string>
	<key>CFBundleName</key>
	<string>MuseScoreThumbnailProvider</string>
	<key>CFBundleExecutable</key>
	<string>MuseScoreThumbnailProvider</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>org.musescore.mscz</string>
			</array>
			<key>QLThumbnailMinimumDimension</key>
			<integer>0</integer>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.thumbnail</string>
		<key>NSExtensionPrincipalClass</key>
		<string>MuseScoreThumbnailProvider.ThumbnailProvider</string>
	</dict>
</dict>
</plist>
