*.user
*.8svx
*.a
*.aif
*.aifc
*.aiff
*.au
*.bin
*.caf
*.dll
*.exe
*.flac
*.la
*.lib
*.lo
*.loT
*.o
*.oct
*.oga
*.ogg
*.paf
*.raw
*.rifx
*.sd2
*.sds
*.svx
/*.so*
*.w64
*.wav
*.wavex
.DS_Store
.deps
.dirstamp
.libs
Hack
Hack/sndfile-fuzzbomb
INSTALL
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-test-tarball.mk
config.log
config.status
configure
doc/AUTHORS
doc/ChangeLog
doc/NEWS
doc/README
doc/libsndfile.css
echo-install-dirs
examples/generate
examples/list_formats
examples/make_sine
examples/sfprocess
examples/sndfile-loopify
examples/sndfile-to-text
examples/sndfilehandle
libsndfile-1.0.*
libsndfile-testsuite-*
libsndfile.spec
libtool
man/sndfile-deinterleave.1
man/sndfile-metadata-set.1
programs/sndfile-cmp
programs/sndfile-concat
programs/sndfile-convert
programs/sndfile-data-trim
programs/sndfile-deinterleave
programs/sndfile-info
programs/sndfile-interleave
programs/sndfile-jackplay
programs/sndfile-metadata-get
programs/sndfile-metadata-set
programs/sndfile-play
programs/sndfile-salvage
regtest/sndfile-regtest
sndfile.pc
src/Ext
src/G72x/g72x_test
Symbols.darwin
Symbols.gnu-binutils
Symbols.os2
Symbols.static
src/config.h
src/config.h.in
src/config.h.in~
src/libsndfile.so*
libsndfile*.def
src/sndfile.h
src/stamp-h1
src/test_endswap.c
src/test_main
src/version-metadata.rc
tests/*_test
tests/benchmark
tests/benchmark.c
tests/fix_this
tests/floating_point_test.c
tests/header_test.c
tests/libsndfile-1.dll
tests/pcm_test.c
tests/pedantic-header-test.sh
tests/pipe_test.c
tests/rdwr_test.c
tests/scale_clip_test.c
tests/sfversion
tests/test_wrapper.sh
tests/utils.c
tests/utils.h
tests/write_read_test.c
*.log
*.trs
.vs/
packages/
*.vcxproj.user
*.VC.db
*.VC.opendb
Debug/
Release/
bin/
obj/
octave-workspace

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeSettings.json

/*[Bb]uild*/

/.vscode/
/.vs/
/out/
