<?js
    var self = this;
    var isGlobalPage;
    docs.forEach(function(doc, i) {
?>

<?js
    // we only need to check this once
    if (typeof isGlobalPage === 'undefined') {
        isGlobalPage = (doc.kind === 'globalobj');
    }
?>
<?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
    <?js= self.partial('mainpage.tmpl', doc) ?>
<?js } else if (doc.kind === 'source') { ?>
    <?js= self.partial('source.tmpl', doc) ?>
<?js } else { ?>

<section>

<?js if (((doc.ancestors && doc.ancestors.length) || doc.name || doc.variation) || (doc.kind === 'module' && doc.modules)) { ?>
<header>
    <?js if (!doc.longname || doc.kind !== 'module') { ?>
        <?js if ((doc.ancestors && doc.ancestors.length) || doc.name || doc.variation) { ?>
        <h1 id="<?js= doc.name ?>-title" class="has-anchor">
        <?js if (doc.ancestors && doc.ancestors.length) { ?>
            <span class="ancestors"><?js= doc.ancestors.join('') ?></span>
        <?js } ?>
        <?js= doc.name ?>
        <?js if (doc.variation) { ?>
            <sup class="variation"><?js= doc.variation ?></sup>
        <?js } ?>
        </h1>
        <?js } ?>
        <?js if (doc.classdesc) { ?>
            <div class="class-description"><?js= doc.classdesc ?></div>
        <?js } ?>
    <?js } else if (doc.kind === 'module' && doc.modules) { ?>
        <?js doc.modules.forEach(function(module) { ?>
            <?js if (module.name && self.displayModuleHeader) { ?>
                <h1 id="<?js= module.name ?>-title" class="has-anchor">
                    <?js= module.name ?>
                </h1>
            <?js } ?>
            <?js if (module.classdesc) { ?>
                <div class="class-description"><?js= module.classdesc ?></div>
            <?js } ?>
        <?js }) ?>
    <?js } ?>
</header>
<?js } ?>

<article>
    <div class="container-overview">
    <?js if (doc.kind === 'module' && doc.modules) { ?>
        <?js if (doc.description) { ?>
            <div class="description"><?js= doc.description ?></div>
        <?js } ?>

        <?js doc.modules.forEach(function(module) { ?>
            <?js= self.partial('method.tmpl', module) ?>
        <?js }) ?>
    <?js } else if (doc.kind === 'class' || (doc.kind === 'namespace' && doc.signature)) { ?>
        <?js= self.partial('method.tmpl', doc) ?>
    <?js } else { ?>
        <?js if (doc.description) { ?>
            <div class="description"><?js= doc.description ?></div>
        <?js } ?>

        <?js= self.partial('details.tmpl', doc) ?>

        <?js if (doc.examples && doc.examples.length) { ?>
            <h2 id="example" class="has-anchor">Example<?js= doc.examples.length > 1? 's':'' ?></h2>
            <?js= self.partial('examples.tmpl', doc.examples) ?>
        <?js } ?>
    <?js } ?>
    </div>

    <?js if (doc.augments && doc.augments.length) { ?>
        <h2 id="Extends" class="subsection-title has-anchor">Extends</h2>

        <?js= self.partial('augments.tmpl', doc) ?>
    <?js } ?>

    <?js if (doc.requires && doc.requires.length) { ?>
        <h2 id="requires" class="subsection-title has-anchor">Requires</h2>

        <ul><?js doc.requires.forEach(function(r) { ?>
            <li><?js= self.linkto(r, r) ?></li>
        <?js }); ?></ul>
    <?js } ?>

    <?js
        var shouldExcludeInherited = { ...(self.excludeInherited ? { inherited: {isUndefined: true} } : {}) };
        var classes = self.find({kind: 'class', memberof: doc.longname, ...shouldExcludeInherited } );
        if (!isGlobalPage && classes && classes.length) {
    ?>
        <h2 id="classes" class="subsection-title has-anchor">Classes</h2>

        <dl><?js classes.forEach(function(c) { ?>
            <dt><?js= self.linkto(c.longname, c.name) ?></dt>
            <dd><?js if (c.summary) { ?><?js= c.summary ?><?js } ?></dd>
        <?js }); ?></dl>
    <?js } ?>

    <?js
        var interfaces = self.find({kind: 'interface', memberof: doc.longname, ...shouldExcludeInherited});
        if (!isGlobalPage && interfaces && interfaces.length) {
    ?>
        <h2 id="interfaces" class="subsection-title has-anchor">Interfaces</h2>

        <dl><?js interfaces.forEach(function(i) { ?>
            <dt><?js= self.linkto(i.longname, i.name) ?></dt>
            <dd><?js if (i.summary) { ?><?js= i.summary ?><?js } ?></dd>
        <?js }); ?></dl>
    <?js } ?>

    <?js
        var mixins = self.find({kind: 'mixin', memberof: doc.longname, ...shouldExcludeInherited});
        if (!isGlobalPage && mixins && mixins.length) {
    ?>
        <h2 id="mixins" class="subsection-title has-anchor">Mixins</h2>

        <dl><?js mixins.forEach(function(m) { ?>
            <dt><?js= self.linkto(m.longname, m.name) ?></dt>
            <dd><?js if (m.summary) { ?><?js= m.summary ?><?js } ?></dd>
        <?js }); ?></dl>
    <?js } ?>

    <?js
        var namespaces = self.find({kind: 'namespace', memberof: doc.longname, ...shouldExcludeInherited});
        if (!isGlobalPage && namespaces && namespaces.length) {
    ?>
        <h2 id="namespaces" class="subsection-title has-anchor">Namespaces</h2>

        <dl><?js namespaces.forEach(function(n) { ?>
            <dt><?js= self.linkto(n.longname, n.name) ?></dt>
            <dd><?js if (n.summary) { ?><?js= n.summary ?><?js } ?></dd>
        <?js }); ?></dl>
    <?js } ?>

    <?js
        var members = self.find({kind: 'member', memberof: isGlobalPage ? {isUndefined: true} : doc.longname, ...shouldExcludeInherited});

        // symbols that are assigned to module.exports are not globals, even though they're not a memberof anything
        if (isGlobalPage && members && members.length && members.forEach) {
            members = members.filter(function(m) {
                return m.longname && m.longname.indexOf('module:') !== 0;
            });
        }
        if (members && members.length && members.forEach) {
    ?>
        <h2 id="members" class="subsection-title has-anchor">Members</h2>

        <?js members.forEach(function(p) { ?>
            <?js= self.partial('members.tmpl', p) ?>
        <?js }); ?>
    <?js } ?>

    <?js
        var methods = self.find({kind: 'function', memberof: isGlobalPage ? {isUndefined: true} : doc.longname, ...shouldExcludeInherited});
        if (methods && methods.length && methods.forEach) {
    ?>
        <h2 id="methods" class="subsection-title has-anchor">Methods</h2>

        <?js methods.forEach(function(m) { ?>
            <?js= self.partial('method.tmpl', m) ?>
        <?js }); ?>
    <?js } ?>

    <?js
        var typedefs = self.find({kind: 'typedef', memberof: isGlobalPage ? {isUndefined: true} : doc.longname, ...shouldExcludeInherited});
        if (typedefs && typedefs.length && typedefs.forEach) {
    ?>
        <h2 id="type-definitions" class="subsection-title has-anchor">Type Definitions</h2>

        <?js typedefs.forEach(function(e) {
                if (e.signature) {
            ?>
                <?js= self.partial('method.tmpl', e) ?>
            <?js
                }
                else {
            ?>
                <?js= self.partial('members.tmpl', e) ?>
            <?js
                }
            }); ?>
    <?js } ?>

    <?js
        var events = self.find({kind: 'event', memberof: isGlobalPage ? {isUndefined: true} : doc.longname, ...shouldExcludeInherited});
        if (events && events.length && events.forEach) {
    ?>
        <h2 id="events" class="subsection-title has-anchor">Events</h2>

        <?js events.forEach(function(e) { ?>
            <?js= self.partial('method.tmpl', e) ?>
        <?js }); ?>
    <?js } ?>
</article>

</section>
<?js } ?>

<?js }); ?>

<?js= self.partial('include-target-script-and-styles.tmpl', arguments[0].filename) ?>
