<?js
var data = obj;
var self = this;
var defaultObjectClass = '';
var loopVar = 0;
var detailsKeys = [
    'copyright',
    'defaultvalue',
    'deprecated',
    'license',
    'overrides',
    'since',
    'version',
]
var hasToPrintDetails = (data.meta && self.outputSourceFiles) || 
                        (data.author && author.length) || 
                        (data.mixes && data.mixes.length) ||
                        (data.inherited && data.inherits && !data.overrides) ||
                        (data.implementations && data.implementations.length) ||
                        (data.implements && data.implements.length) ||
                        (data.tutorials && tutorials.length) || 
                        (data.see && see.length) ||
                        (data.todo && todo.length)


// // Check if the default value is an object or array; if so, apply code highlighting
if (data.defaultvalue && (data.defaultvaluetype === 'object' || data.defaultvaluetype === 'array')) {
    data.defaultvalue = "<pre class='prettyprint'><code class='nohljsln compact'>" + data.defaultvalue + "</code></pre>";
}

// Check whether to print details or not
for(; loopVar < detailsKeys.length; loopVar += 1) {
    if(data[detailsKeys[loopVar]]) {
        hasToPrintDetails = true
        break
    }
}

?>

<?js
    var properties = data.properties;
    if (properties && properties.length && properties.forEach) {
?>

    <b class="subsection-title">Properties</b>

    <?js= this.partial('properties.tmpl', data) ?>

<?js } ?>

<?js if(hasToPrintDetails) { ?>
<dl class="details">

    <?js if (data.version) {?>
        <div class="details-item-container">
            <dt class="tag-version bold">Version</dt>
            <dd class="tag-version"><ul><li><?js= version ?></li></ul></dd>
        </div>
    <?js } ?>

    <?js if (data.since) {?>
        <div class="details-item-container">
            <dt class="tag-since bold">Since</dt>
            <dd class="tag-since"><ul><li><?js= since ?></li></ul></dd>
        </div>
    <?js } ?>

    <?js if (data.inherited && data.inherits && !data.overrides) { ?>
        <div class="details-item-container">
            <dt class="inherited-from bold">Inherited From</dt>
            <dd class="inherited-from"><ul><li>
                <?js= this.linkto(data.inherits, this.htmlsafe(data.inherits)) ?>
            </li></ul></dd>
        </div>
    <?js } ?>

    <?js if (data.overrides) { ?>
        <div class="details-item-container">
            <dt class="tag-overrides bold">Overrides</dt>
            <dd class="tag-overrides"><ul><li>
                <?js= this.linkto(data.overrides, this.htmlsafe(data.overrides)) ?>
            </li></ul></dd>
        </div>
    <?js } ?>

    <?js if (data.implementations && data.implementations.length) { ?>
        <div class="details-item-container">
            <dt class="implementations bold">Implementations</dt>
            <dd class="implementations"><ul>
                <?js data.implementations.forEach(function(impl) { ?>
                    <li><?js= self.linkto(impl, self.htmlsafe(impl)) ?></li>
                <?js }); ?>
            </ul></dd>
        </div>
    <?js } ?>

    <?js if (data.implements && data.implements.length) { ?>
        <div class="details-item-container">
            <dt class="implements bold">Implements</dt>
            <dd class="implements"><ul>
                <?js data.implements.forEach(function(impl) { ?>
                    <li><?js= self.linkto(impl, self.htmlsafe(impl)) ?></li>
                <?js }); ?>
            </ul></dd>
        </div>
    <?js } ?>

    <?js if (data.mixes && data.mixes.length) { ?>
        <div class="details-item-container">
            <dt class="mixes bold">Mixes In</dt>

            <dd class="mixes"><ul>
            <?js data.mixes.forEach(function(a) { ?>
                <li><?js= self.linkto(a, a) ?></li>
            <?js }); ?>
            </ul></dd>
        </div>
    <?js } ?>

    <?js if (data.deprecated) { ?>
        <div class="details-item-container">
            <dt class="important tag-deprecated bold">Deprecated</dt><?js
                if (data.deprecated === true) { ?><dd class="tag-deprecated"><ul><li>Yes</li></ul></dd><?js }
                else { ?><dd><ul><li><?js= data.deprecated ?></li></ul></dd><?js }
            ?>
        </div>
    <?js } ?>

    <?js if (data.author && author.length) {?>
        <div class="details-item-container">
            <dt class="tag-author bold">Author</dt>
            <dd class="tag-author">
                <ul><?js author.forEach(function(a) { ?>
                    <li><?js= self.resolveAuthorLinks(a) ?></li>
                <?js }); ?></ul>
            </dd>
        </div>
    <?js } ?>

    <?js if (data.copyright) {?>
        <div class="details-item-container">
            <dt class="tag-copyright bold">Copyright</dt>
            <dd class="tag-copyright"><ul><li><?js= copyright ?></li></ul></dd>
        </div>
    <?js } ?>

    <?js if (data.license) {?>
        <div class="details-item-container">
            <dt class="tag-license bold">License</dt>
            <dd class="tag-license"><ul><li><?js= license ?></li></ul></dd>
        </div>
    <?js } ?>

    <?js if (data.defaultvalue) {?>
        <div class="details-item-container">
            <dt class="tag-default bold">Default Value</dt>
            <dd class="tag-default"><ul>
                    <li data-skip-pre-process="true"><?js= data.defaultvalue ?></li>
                </ul></dd>
        </div>
    <?js } ?>

    <?js if (data.meta && self.outputSourceFiles) {?>
        <div class="details-item-container">
            <dt class="tag-source bold">Source</dt>
            <dd class="tag-source"><ul><li>
                <?js= self.linkto(meta.shortpath) ?>, <?js= self.linkto(meta.shortpath, 'line ' + meta.lineno, null, 'line' + meta.lineno) ?>
            </li></ul></dd>
        </div>
    <?js } ?>

    <?js if (data.tutorials && tutorials.length) {?>
        <div class="details-item-container">
            <dt class="tag-tutorial bold">Tutorials</dt>
            <dd class="tag-tutorial">
                <ul><?js tutorials.forEach(function(t) { ?>
                    <li><?js= self.tutoriallink(t) ?></li>
                <?js }); ?></ul>
            </dd>
        </div>
    <?js } ?>

    <?js if (data.see && see.length) {?>
        <div class="details-item-container">
            <dt class="tag-see bold">See</dt>
            <dd class="tag-see">
                <ul><?js see.forEach(function(s) { ?>
                    <li><?js= self.linkto(s) ?></li>
                <?js }); ?></ul>
            </dd>
        </div>
    <?js } ?>

    <?js if (data.todo && todo.length) {?>
        <div class="details-item-container">
            <dt class="tag-todo bold">To Do</dt>
            <dd class="tag-todo">
                <ul><?js todo.forEach(function(t) { ?>
                    <li><?js= t ?></li>
                <?js }); ?></ul>
            </dd>
        </div>
    <?js } ?>
</dl>

<?js } ?>
