<!DOCTYPE html>
<html lang="en">
<head>
    <?js if (!env.conf.docdash) { env.conf.docdash = {};} ?>
    <meta charset="utf-8">
    <title><?js= title ?> - <?js= ((env.conf.docdash.meta && env.conf.docdash.meta.title) || "Documentation") ?></title>
    <?js if (env.conf.docdash.meta) { ?>
    <?js if (env.conf.docdash.meta.description) { ?><meta name="description" content="<?js= env.conf.docdash.meta.description ?>" /><?js } ?>
    <?js if (env.conf.docdash.meta.keyword) { ?>
        <meta name="keywords" content="<?js= env.conf.docdash.meta.keyword ?>" />
        <meta name="keyword" content="<?js= env.conf.docdash.meta.keyword ?>" />
    <?js } ?>
    <?js } ?>
    <?js if (env.conf.docdash.openGraph) { ?>
    <meta property="og:title" content="<?js= env.conf.docdash.openGraph.title ?>"/>
    <meta property="og:type" content="<?js= env.conf.docdash.openGraph.type ?>"/>
    <meta property="og:image" content="<?js= env.conf.docdash.openGraph.image ?>"/>
    <?js if (env.conf.docdash.openGraph.site_name) { ?><meta property="og:site_name" content="<?js= env.conf.docdash.openGraph.site_name ?>"/><?js } ?>
    <meta property="og:url" content="<?js= env.conf.docdash.openGraph.url ?>"/>
    <?js } ?>
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc.css">
    <script src="scripts/nav.js" defer></script>
    <?js if (env.conf.docdash.commonNav) { ?>
    <script src="scripts/commonNav.js" defer></script>
    <?js } ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger" class="navicon-button x">
  <div class="navicon"></div>
</label>

<label for="nav-trigger" class="overlay"></label>

<nav <?js if (env.conf.docdash.wrap) { ?>class="wrap"<?js } ?>>
    <?js if (env.conf.docdash.search) { ?>
    <input type="text" id="nav-search" placeholder="Search" />
    <?js } ?>
    <?js if (!env.conf.docdash.commonNav) { ?>
    <?js= this.nav ?>
    <?js } ?>
</nav>

<div id="main">
    <?js if (title != 'Home') { ?>
    <h1 class="page-title"><?js= title ?></h1>
    <?js } ?>

    <?js= content ?>
    
    <?js if (env.conf.docdash.disqus) { ?>
    <div id="disqus_thread"></div>
    <script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//<?js= env.conf.docdash.disqus ?>.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <?js } ?>
</div>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?> using the <a href="https://github.com/clenemt/docdash">docdash</a> theme.
</footer>

<script>prettyPrint();</script>
<script src="scripts/polyfill.js"></script>
<script src="scripts/linenumber.js"></script>
<?js if (env.conf.docdash.search) { ?>
<script src="scripts/search.js" defer></script>
<?js } ?>
<?js if (env.conf.docdash.collapse) { ?>
<script src="scripts/collapse.js" defer></script>
<?js } ?>
<?js if (env.conf.docdash.scripts && env.conf.docdash.scripts.length) {
    for(var i = 0; i < env.conf.docdash.scripts.length; i++){
        if (env.conf.docdash.scripts[i].indexOf(".css") != -1) {
    ?>
    <link type="text/css" rel="stylesheet" href="<?js= env.conf.docdash.scripts[i] ?>">
    <?js
        } else {
    ?>
    <script src="<?js= env.conf.docdash.scripts[i] ?>"></script>
    <?js
        }
    }
} ?>
</body>
</html>
