<!DOCTYPE html>
<html lang="en" style="font-size: 16px">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Adding favicon -->
    <?js if(this.favicon != undefined) { ?>
    <link rel="icon" href="<?js= this.favicon?>" />
    <?js } ?>

    <!-- Adding meta -->
    <?js if(this.meta != undefined) { ?>
    <?js this.meta.forEach(function(src){ ?>
    <meta <?js= Object.keys(src).map(key=> `${key}="${src[key]}"`).join(" ") ?> />
    <?js }) ?>
    <?js } ?>

    <!-- Adding external script-->
    <?js if(this.dynamicScriptSrc != undefined) { ?>
    <?js this.dynamicScriptSrc.forEach(function(src){ ?>
    <script <?js= Object.keys(src).map(key=> `${key}="${src[key]}"`).join(" ") ?> ></script>
    <?js }) ?>
    <?js } ?>

    <!-- Adding external style-->
    <?js if(this.dynamicStyleSrc != undefined) { ?>
    <?js this.dynamicStyleSrc.forEach(function(src){ ?>
    <link <?js= Object.keys(src).map(key=> `${key}="${src[key]}"`).join(" ") ?> />
    <?js }) ?>
    <?js } ?>

    <!-- Adding scripts-->
    <?js if(this.includeScript != undefined) { ?>
    <?js this.includeScript.forEach(function(source){ ?>
      <?js if(typeof source === 'string') { ?>
        <script src="<?js= source ?>"></script>
      <?js } ?>
    <?js }) ?>
    <?js } ?>

    <!-- Adding style-->
    <?js if(this.includeCss != undefined) { ?>
    <?js this.includeCss.forEach(function(source){ ?>
      <?js if(typeof source === 'string') { ?>
        <link type="text/css" rel="stylesheet" href="<?js= source ?>">
      <?js } ?>
    <?js }) ?>
    <?js } ?>


    <title>
      <?js= title ?>
    </title>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="scripts/third-party/hljs.js" defer></script>
    <script src="scripts/third-party/hljs-line-num.js" defer></script>
    <script src="scripts/third-party/popper.js" defer></script>
    <script src="scripts/third-party/tippy.js" defer></script>
    <script src="scripts/third-party/tocbot.min.js"></script>

    <script>
      var baseURL = "/"
      var locationPathname = ""

      // Global variables
      <?js if (this.baseURL) { ?>
        baseURL = "<?js= this.baseURL ?>"
        baseURL = baseURL.replace(/https?:\/\//i, '')
        baseURL = baseURL.substr(baseURL.indexOf("/"))
      <?js } else { ?>
        locationPathname = document.location.pathname
        baseURL = locationPathname.substr(0, locationPathname.lastIndexOf("/") + 1)
      <?js } ?>

    </script>
    
    <!-- clean jsdoc theme -->
    <?js if (this.shouldRemoveScrollbarStyle) { ?>
      <link rel="stylesheet" href="styles/clean-jsdoc-theme-without-scrollbar.min.css">
    <?js } else { ?>
      <link rel="stylesheet" href="styles/clean-jsdoc-theme.min.css">
    <?js } ?>

    <?js if(this.dynamicStyle != undefined ) { ?>
    <style>
      <?js= this.dynamicStyle ?>
    </style>
    <?js } ?>
    <?js= this.partial('icons.tmpl') ?>

  </head>

  <body data-theme="<?js= this.theme?>">

    <div class="sidebar-container">
      <?js= this.partial('sidebar.tmpl') ?>
    </div>
    
    <div class="navbar-container" id="VuAckcnZhf">
      <?js= this.partial('navbar.tmpl') ?>
    </div>

    <div class="toc-container">
      <?js= this.partial('toc.tmpl') ?>
    </div>
    
    <div class="body-wrapper">
      <div class="main-content">
        <div class="main-wrapper">
          <?js= content ?>

          <?js if(this.footer) {?>

          <footer class="footer" id="PeOAagUepe">
            <div class="wrapper">
              <?js= this.footer ?>
            </div>
          </footer>
          <?js } ?>
        
        </div>
      </div>

    </div>

    <?js if(this.navbar.search) { ?>
        <?js= this.partial('search.tmpl')?>
    <?js } ?>

    <?js= this.partial('mobile-sidebar.tmpl') ?>

    <script type="text/javascript" src="scripts/core.min.js"></script>

    <?js if(this.navbar.search !== 'false') { ?>
      <script src="scripts/search.min.js" defer></script>
      <script src="scripts/third-party/fuse.js" defer></script>
    <?js } ?>

    <?js if(this.dynamicScript != undefined ) { ?>
    <script type="text/javascript">
        <?js= this.dynamicScript ?>
    </script>
    <?js } ?>


    <script type="text/javascript">
      var tocbotInstance = tocbot.init({
        tocSelector: '#eed4d2a0bfd64539bb9df78095dec881',
        contentSelector: '.main-content',
        headingSelector: 'h1, h2, h3',
        hasInnerContainers: true,
        scrollContainer: '.main-content',
        headingsOffset: 130,
        onClick: bringLinkToView
      });

    </script>

  </body>

</html>
