<?js
var data = obj;
var self = this;
?>

<?js if (data.kind === 'package') { ?>
    <section class="package">
        <h3><?js= data.name ?> <?js= data.version ?></h3>		
    </section>
<?js } ?>
<?js if (data.readme) { ?>
    <section class="readme usertext">
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>
