<div class="mobile-menu-icon-container">
    <button class="icon-button" id="mobile-menu" data-isopen="false" aria-label="menu">
        <svg><use xlink:href="#menu-icon"></use></svg>
    </button>
</div>

<div id="mobile-sidebar" class="mobile-sidebar-container">
    <div class="mobile-sidebar-wrapper">
        <?js= this.partial('sidebar-title.tmpl') ?>
        <div class="mobile-nav-links">
            <?js= this.partial('navbar-menu.tmpl', '-mobile') ?>
        </div>
        <div class="mobile-sidebar-items-c">
            <?js= this.partial('sidebar-items.tmpl') ?>
        </div>
        <div class="mobile-navbar-actions">
            <?js= this.partial('navbar-actions.tmpl') ?>
        </div>
    </div>

</div>