<?js
    var data = this.navbar;
?>

<nav class="navbar">
    <div class="navbar-left-items">
        <?js= this.partial('navbar-menu.tmpl') ?>

    </div>

    <div class="navbar-right-items">
        <?js= this.partial('navbar-actions.tmpl') ?>
    </div>
<nav>