<div class="search-container" id="PkfLWpAbet" style="display: none">
    <div class="wrapper" id="iCxFxjkHbP">
        <button class="icon-button search-close-button" id="VjLlGakifb" aria-label='close search'>
            <svg>
                <use xlink:href="#close-icon"></use>
            </svg>
            
        </button>
        <div class="search-box-c">
            <svg><use xlink:href="#search-icon"></use></svg>
            <input type="text" id="vpcKVYIppa" class="search-input" placeholder="Search..." autofocus>
        </div>
        <div class="search-result-c" id="fWwVHRuDuN">
            <span class="search-result-c-text">Type anything to view search result</span>
        </div>
    </div>
</div>