<?js
    var data = obj;
?>
    <section id="source-page" class="source-page">
        <header>
            <h1 id="title" class="has-anchor">
                <?js= data.title ?>
            </h1>
        </header>
        <article>
            <pre class="prettyprint source lang-js"><code><?js= data.code ?></code></pre>
        </article>
    </section>