<section>

<header>
    
    <h2><?js= header ?></h2>
</header>

<article>
    <?js= content ?>
</article>

</section>


<?js= this.partial('include-target-script-and-styles.tmpl', filename) ?>


<?js if (children.length > 0) { ?>
<br><br>

<div class="child-tutorial-container">
    <?js
        var self = this;
        children.forEach(function(t) {
            let link = self.tutoriallink(t.name).replaceAll(/<a href=/g, "").replaceAll(/>.*/g,"")
    ?>
        <a href=<?js= link ?> class="child-tutorial">
           <?js= t.name ?> 
        </a>
    <?js }); ?>
</div>
<?js } ?>