<?js
    var data = obj;
    var self = this;
    data.forEach(function(name, i) {
    if (env && env.conf && env.conf.docdash && env.conf.docdash.shortenTypes === true) {
        var nameArr = name.split(/[\.~#]/);
        var resolvedName = nameArr[nameArr.length - 1];
        if (name.startsWith("Array.<")) {
            if (nameArr.length === 2) {
                resolvedName = name;
            } else {
                resolvedName = resolvedName.replace(">", "");
                var longname = name.replace("Array.<","").replace(">", "");
            }
        }
    } else {
        var resolvedName = name;
    }
    var link = self.linkto(name, self.htmlsafe(resolvedName));
    if (longname) {
        link = link.replace(longname, resolvedName);
    }
    ?>
<span class="param-type"><?js= link?></span>
<?js if (i < data.length-1) { ?>|<?js } ?>
<?js }); ?>
