#topbar  { 
  border-bottom:1px solid #eb7429; 
  background:#fc9453; 
  padding:10px 20px; 
  position:fixed; 
  top:0; 
  left:0; 
  z-index:2000; 
  width:100%;
}

#topbar span {
  float:left; 
  width:512px;
}

#topmargin {
  height:20px; 
}