name: 'Build: Without Qt'

on:
  pull_request:
  workflow_dispatch:

jobs:
  run_tests:
    runs-on: ubuntu-22.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.12.1
      with:
        access_token: ${{ github.token }}
    - name: Clone repository
      uses: actions/checkout@v4
    - name: Setup environment
      run: |
        bash ./buildscripts/ci/withoutqt/setup.sh
    - name: Build
      run: |
        bash ./buildscripts/ci/withoutqt/build.sh
