name: 'Check: Unit Tests (utest)'

on:
  pull_request:
    branches:
    - master
  workflow_dispatch:

jobs:
  run_tests:
    runs-on: ubuntu-20.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.12.1
      with:
        access_token: ${{ github.token }}
    - name: Clone repository
      uses: actions/checkout@v4
    - name: "Configure workflow"
      run: |
        sudo bash ./buildscripts/ci/tools/make_build_number.sh
        BUILD_NUMBER=$(cat ./build.artifacts/env/build_number.env)

        echo "BUILD_NUMBER=$BUILD_NUMBER" | tee -a $GITHUB_ENV

    - name: Ccache cache files
      uses: actions/cache@v4
      with:
        path: ~/.ccache
        key: ${{github.workflow}}-ccache-$(date -u +"%F-%T")
        restore-keys: ${{github.workflow}}-ccache- # restore ccache from either previous build on this branch or on master
    - name: Setup ccache
      run: |
        sudo bash ./buildscripts/ci/tools/setup_ccache.sh
    - name: Setup environment
      run: |
        sudo bash ./buildscripts/ci/linux/setup.sh
    - name: Build
      run: |
        mkdir -p build.artifacts/env
        sudo bash ./buildscripts/ci/linux/build_utest.sh -n ${{ env.BUILD_NUMBER }}
    - name: Free up disk space
      # After building, too little disk space is left. Remove unnecessary tools to free up disk space.
      run: |
        sudo docker system prune -a -f
        sudo rm -rf /usr/local/lib/android
    - name: Run tests
      run: |
        sudo bash ./buildscripts/ci/linux/runutests.sh
      env:
        ASAN_OPTIONS: "detect_leaks=0"
