name: 'Check: Unit Tests (utest)'

on:
  pull_request:
  workflow_dispatch:
    inputs:
      code_coverage:
        description: 'Enable code coverage'
        required: false
        default: 'false'
  schedule:
    - cron: "0 3 * * 4" # Every Thursday night at 03:00 for master branch

jobs:
  run_tests:
    runs-on: ubuntu-22.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.12.1
      with:
        access_token: ${{ github.token }}
    - name: Clone repository
      uses: actions/checkout@v4
    - name: "Configure workflow"
      run: |
        bash ./buildscripts/ci/tools/make_build_number.sh
        BUILD_NUMBER=$(cat ./build.artifacts/env/build_number.env)

        echo "BUILD_NUMBER=$BUILD_NUMBER" | tee -a $GITHUB_ENV

        echo "CCACHE_TIMESTAMP=$(date -u +"%F-%T")" | tee -a $GITHUB_ENV

    - name: Restore ccache files
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/.ccache
        key: ${{github.workflow}}-ccache-${{ env.CCACHE_TIMESTAMP }}
        restore-keys: ${{github.workflow}}-ccache-
    - name: Setup ccache
      run: |
        sudo apt-get update && sudo apt-get install -y ccache
        bash ./buildscripts/ci/tools/setup_ccache_config.sh

    - name: Free up disk space
      run: |
        sudo docker system prune -a -f
        sudo rm -rf /usr/local/lib/android

    - name: Setup environment
      run: |
        bash ./buildscripts/ci/linux/setup.sh
    - name: Build
      env:
        GITHUB_EVENT_NAME: ${{ github.event_name }}
        CODE_COVERAGE: ${{ inputs.code_coverage }}
      run: |
        mkdir -p build.artifacts/env

        ENABLE_CODE_COVERAGE='false'

        if [[ "$GITHUB_EVENT_NAME" == "schedule" || "$CODE_COVERAGE" == "true" ]]; then
          ENABLE_CODE_COVERAGE='true'
        else
          ENABLE_CODE_COVERAGE='false'
        fi

        bash ./buildscripts/ci/linux/build_utest.sh -n ${{ env.BUILD_NUMBER }} --enable_code_coverage ${ENABLE_CODE_COVERAGE}
        echo "============== ccache ==============="
        ccache -s
    - name: Run tests
      run: |
        bash ./buildscripts/ci/linux/runutests.sh
      env:
        ASAN_OPTIONS: "detect_leaks=0"
    - name: Zip failed test output files
      if: failure()
      run: |
        if [[ -f ${{ github.workspace }}/build.debug/Testing/Temporary/failed_test_reference_files.txt ]]; then
          files_to_zip=""
          while IFS= read -r line; do
            file_path=$(echo ${line/data\/})
            file_path=$(echo ${file_path/src\//"build.debug/src/"})
            file_path=$(echo ${file_path/_ref/""})
            files_to_zip+="${file_path} "
            echo "Copy this file:   " ${file_path}
            echo "To this location: " ${line}
          done < ${{ github.workspace }}/build.debug/Testing/Temporary/failed_test_reference_files.txt
          zip failed_unit_tests.zip "${files_to_zip}"
        fi
    - name: Upload unit test result
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: unit_test
        path: |
          ${{ github.workspace }}/failed_unit_tests.zip
    - name: Code coverage
      if: github.event_name == 'schedule' || inputs.code_coverage == 'true'
      run: |
        lcov --capture --directory "$(pwd)/build.debug/" --output-file coverage.info
        lcov --remove coverage.info '/usr/*' '*/tests/*' '*/thirdparty/*' '*/moc_*' '*framework/Headers/*' '*/hb-*' '*/Qt/*' --output-file filtered_coverage.info

        python3 buildscripts/ci/linux/tools/lcov_badger.py filtered_coverage.info coverage_badge.svg

    - name: Push to S3
      if: ( github.event_name == 'schedule' || inputs.code_coverage == 'true' ) && github.repository == 'musescore/MuseScore'
      run: |
        S3_URL='s3://extensions.musescore.org/test/code_coverage/coverage_badge.svg'

        bash ./buildscripts/ci/tools/s3_push_file.sh \
          --s3_key '${{ secrets.S3_KEY }}' \
          --s3_secret '${{ secrets.S3_SECRET }}' \
          --s3_url "${S3_URL}" \
          --file_path "coverage_badge.svg"
