name: CI_Linux MU4

on:
  pull_request:
    branches:
    - master
  schedule: 
    - cron: '0 4 */1 */1 *' # At 04:00 on every day-of-month
  workflow_dispatch:
    inputs:
      build_mode:
        description: 'Build mode: devel_build, nightly_build, testing_build, stable_build'
        required: true
        default: 'devel_build'
      publish:
        description: 'Publish to FTP: on - publish'
        required: false
        default: 'off'  

jobs:
  build_mu4:
    runs-on: ubuntu-18.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.5.0
      with:
        access_token: ${{ github.token }}
    - name: Clone repository
      uses: actions/checkout@v2
    - name: Prepare ccache timestamp
      id: ccache_cache_timestamp
      run: |
        NOW=$(date -u +"%F-%T")
        echo "::set-output name=timestamp::${NOW}"
    - name: Ð¡cache cache files
      uses: actions/cache@v2
      with:
        path: ~/.ccache
        key: ${{github.workflow}}-ccache-${{steps.ccache_cache_timestamp.outputs.timestamp}}
        restore-keys: ${{github.workflow}}-ccache-  # restore ccache from either previous build on this branch or on master  
    - name: Setup ccache
      run: |
        sudo apt install ccache
        mkdir -p ~/.ccache
        echo "base_dir = ${GITHUB_WORKSPACE}" > ~/.ccache/ccache.conf
        echo "compression = true" >> ~/.ccache/ccache.conf
        echo "compression_level = 6" >> ~/.ccache/ccache.conf
        echo "max_size = 2G" >> ~/.ccache/ccache.conf
        cat ~/.ccache/ccache.conf
        ccache -s
        ccache -z        
    - name: "Configure workflow"
      run: |
        sudo bash ./build/ci/tools/make_build_mode_env.sh -e ${{ github.event_name }} -m ${{ github.event.inputs.build_mode }}
        BUILD_MODE=$(cat ./build.artifacts/env/build_mode.env)
        echo "BUILD_MODE=$BUILD_MODE" >> $GITHUB_ENV

        DO_PUBLISH='false'
        if [[ "${{ github.event.inputs.publish }}" == "on" || "$BUILD_MODE" == "nightly_build" ]]; then 
          DO_PUBLISH='true'
          if [ -z "${{ secrets.OSUOSL_SSH_ENCRYPT_SECRET }}" ]; then 
            echo "warning: not set OSUOSL_SSH_ENCRYPT_SECRET, publish disabled" 
            DO_PUBLISH='false'
          fi  
        fi
        echo "DO_PUBLISH=$DO_PUBLISH" >> $GITHUB_ENV
        echo "DO_PUBLISH: $DO_PUBLISH"

    - name: Setup environment
      run: |
        sudo bash ./build/ci/linux/setup.sh
    - name: Build
      run: |
        T_ID=${{ secrets.TELEMETRY_TRACK_ID }}; if [ -z "$T_ID" ]; then T_ID="''"; fi
        sudo bash ./build/ci/linux/build.sh -n ${{ github.run_id }} --telemetry $T_ID --build_mu4 ON
        echo "============== ccache ==============="
        ccache -s
    - name: "Run unit tests"
      run: |
        sudo bash ./build/ci/linux/runutests.sh
    - name: Package 
      run: |
        sudo bash ./build/ci/linux/package.sh
    - name: Checksum 
      run: |
        sudo bash ./build/ci/tools/checksum.sh 
    - name: Publish package
      if: env.DO_PUBLISH == 'true'
      run: |
        sudo bash ./build/ci/tools/osuosl/publish.sh -s ${{ secrets.OSUOSL_SSH_ENCRYPT_SECRET }} --os linux -v 4
    - name: Upload artifacts on GitHub
      uses: actions/upload-artifact@v2
      with:
        name: MuseScore_MU4_${{ github.run_id }}
        path: ./build.artifacts/         
            
