name: CI_MacOS

on:
  # At the moment, the mu3 is not automatically building
  # pull_request:
  #   branches:
  #   - master
  schedule:                 # Schedule 3.x nightly build! (not master MU3)  
    - cron: '0 4 */1 * *' # At 04:00 on every day-of-month
  workflow_dispatch:
    inputs:
      build_mode:
        description: 'Build mode: devel_build, nightly_build, testing_build, stable_build'
        required: true
        default: 'devel_build'
      publish:
        description: 'Publish to FTP: on - publish'
        required: false
        default: 'off'  
 
env:
  DEVELOPER_DIR: /Applications/Xcode_10.3.app/Contents/Developer

jobs:
  build_mu3:    
    runs-on: macos-10.15
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.5.0
      with:
        access_token: ${{ github.token }}
    - name: Clone repository (default)
      if: ${{ github.event_name != 'schedule' }}
      uses: actions/checkout@v2
    - name: Clone repository (3.x for build nightly )
      if: ${{ github.event_name == 'schedule' }}
      uses: actions/checkout@v2
      with:
        ref: 3.x
    - name: "Configure workflow"
      run: |
        bash ./build/ci/tools/make_build_mode_env.sh -e ${{ github.event_name }} -m ${{ github.event.inputs.build_mode }}
        BUILD_MODE=$(cat ./build.artifacts/env/build_mode.env)
        echo "BUILD_MODE=$BUILD_MODE" >> $GITHUB_ENV

        DO_PUBLISH='false'
        if [[ "${{ github.event.inputs.publish }}" == "on" || "$BUILD_MODE" == "nightly_build" ]]; then 
          DO_PUBLISH='true'
          if [ -z "${{ secrets.OSUOSL_SSH_ENCRYPT_SECRET }}" ]; then 
            echo "warning: not set OSUOSL_SSH_ENCRYPT_SECRET, publish disabled" 
            DO_PUBLISH='false'
          fi  
        fi
        echo "DO_PUBLISH=$DO_PUBLISH" >> $GITHUB_ENV
        echo "DO_PUBLISH: $DO_PUBLISH" 

        DO_NOTARIZE='false'
        if [ "$BUILD_MODE" != "devel_build" ]; then 
          DO_NOTARIZE='true'
          if [ -z "${{ secrets.APPLE_USERNAME }}" ]; then 
            echo "warning: not set APPLE_USERNAME, notarize disabled" 
            DO_NOTARIZE='false'
          fi
          if [ -z "${{ secrets.APPLE_PASSWORD }}" ]; then 
            echo "warning: not set APPLE_PASSWORD, notarize disabled" 
            DO_NOTARIZE='false'
          fi 
        fi
        echo "DO_NOTARIZE=$DO_NOTARIZE" >> $GITHUB_ENV
        echo "DO_NOTARIZE: $DO_NOTARIZE"
    
    - name: Setup environment
      run: |
        bash ./build/ci/macos/setup.sh
    - name: Build          
      run: |
        T_ID=${{ secrets.TELEMETRY_TRACK_ID }}; if [ -z "$T_ID" ]; then T_ID="''"; fi
        bash ./build/ci/macos/build.sh -n ${{ github.run_id }} --telemetry $T_ID --build_mu4 OFF
    - name: Package 
      run: |
        S_S="${{ secrets.MAC_SIGN_CERTIFICATE_ENCRYPT_SECRET }}"; if [ -z "$S_S" ]; then S_S="''"; fi
        S_P="${{ secrets.MAC_SIGN_CERTIFICATE_PASSWORD }}"; if [ -z "$S_P" ]; then S_P="''"; fi
        bash ./build/ci/macos/package.sh --signpass "$S_P" --signsecret "$S_S" 
    - name: Notarize
      if: env.DO_NOTARIZE == 'true'
      run: |
        USER=${{ secrets.APPLE_USERNAME }}; if [ -z "$USER" ]; then USER="''"; fi
        PW=${{ secrets.APPLE_PASSWORD }}; if [ -z "$PW" ]; then PW="''"; fi
        bash ./build/ci/macos/notarize.sh -u $USER -p $PW
    - name: Checksum 
      run: |
        bash ./build/ci/tools/checksum.sh    
    - name: Publish package
      if: env.DO_PUBLISH == 'true'
      run: |
        if [ "$BUILD_MODE" == "nightly_build" ]; then VER=3; else VER=4; fi
        sudo bash ./build/ci/tools/osuosl/publish.sh -s ${{ secrets.OSUOSL_SSH_ENCRYPT_SECRET }} --os macos -v $VER
    - name: AppCast
      run: |
        bash ./build/ci/tools/sparkle_appcast_gen.sh -p macos
    - name: Upload artifacts on GitHub
      uses: actions/upload-artifact@v2
      with:
        name: MuseScore_${{ github.run_id }}
        path: ./build.artifacts/
