name: CI_utests

on:
  pull_request:
    branches:
    - master
  workflow_dispatch:

jobs:
  run_tests:
    runs-on: ubuntu-20.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.11.0
      with:
        access_token: ${{ github.token }}
    - name: Clone repository
      uses: actions/checkout@v4
    - name: "Configure workflow"
      run: |
        sudo bash ./build/ci/tools/make_build_number.sh
        BUILD_NUMBER=$(cat ./build.artifacts/env/build_number.env)

        echo "BUILD_NUMBER=$BUILD_NUMBER" >> $GITHUB_ENV
        echo "BUILD_NUMBER: $BUILD_NUMBER"
    - name: Ccache cache files
      uses: actions/cache@v3
      with:
        path: ~/.ccache
        key: ${{github.workflow}}-ccache-$(date -u +"%F-%T")
        restore-keys: ${{github.workflow}}-ccache-  # restore ccache from either previous build on this branch or on master  
    - name: Setup ccache
      run: |
        sudo bash ./build/ci/tools/setup_ccache.sh     
    - name: Setup environment
      run: |
        sudo bash ./build/ci/linux/setup.sh
    - name: Build
      run: |
        mkdir -p build.artifacts/env
        sudo bash ./build/ci/linux/build_utest.sh -n ${{ env.BUILD_NUMBER }}
    - name: Run tests 
      run: |
        # At moment build and run tests consume 13.4 Gb of the disk.
        # After left too little free space.
        # So, we remove unnecessary tools, for more free space
        sudo docker system prune -a -f
        sudo rm -rf /usr/local/lib/android
        sudo bash ./build/ci/linux/runutests.sh
      env: 
        ASAN_OPTIONS: "detect_leaks=0"
