name: CI_Without Qt

on:
  pull_request:
    branches:
    - master
    - 4.0.1

jobs:
  run_tests:
    runs-on: ubuntu-20.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}
    - name: Clone repository
      uses: actions/checkout@v2    
    - name: Setup environment
      run: |
        sudo bash ./build/ci/withoutqt/setup.sh
    - name: Build
      run: |
        sudo bash ./build/ci/withoutqt/build.sh
